{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<form method="POST">
     <div id="dynamicInput">
          Entry 1<br>
         <input type="text" name="myInputs[]">
<!--         <div class="btn-group-toggle" data-toggle="buttons">-->
            <label >
                <input type="checkbox" headleass>Run as Headless Browser
            </label>
<!--         </div>-->
<!--         <input type="checkbox" name="Show Browser?">-->
     </div>
    <input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
</form>



<script>
    var counter = 1;

    function addInput(divName){
      var newdiv = document.createElement('div');
      newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
</script>


{% endblock %}
