{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <div class="row">
    <div class="col-md-6">
        <h1>Edit A Platform Partner Here</h1>
        {{ wtf.quick_form(form, form_type="row", button_map={'submit_button':'primary'}) }}
    </div>

  </div>
  {% if sites_list %}
  <div class="row">
    <div class="col-md-6">
        <h1>Sites List</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Headless Windows</th>
              <th scope="col">Visable Windows</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

          {% for site in sites_list %}

            <tr>
              <th scope="row">{{site.address}}</th>
              <td>{{site.num_headless}}</td>
              <td>{{site.num_windows}}</td>
              <td><button class="btn btn-danger"
                          id={{sites_list.index(site)}}
                          data-toggle="modal"
                          data-target="#editModal"
                          data-address="{{site.address}}"
                          data-headless="{{site.num_headless}}"
                          data-windows="{{site.num_windows}}">
                                    Edit</button></td>
            </tr>

          {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Edit Address Information</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('_save_address_changes')}}" method="POST">
        <div class="modal-body">

            <div class="form-group" >
              <label for="disabled-address" class="col-form-label">Current Address:</label>
              <input type="text" name="disabled-address" class="form-control" id="disabled-address-input" readonly>
              <label for="address-input" class="col-form-label">Amend Address:</label>
              <input type="text" name="address" class="form-control" id="address-input">
              <label for="headless-input class="col-form-label">Headless Windows:</label>
              <input type="text" name="headless" class="form-control" id="headless-input">
              <label for="windows-input class="col-form-label">Visable Windows:</label>
              <input type="text" name="windows" class="form-control" id="windows-input">
              <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>

      </form>
      </div>
    </div>
  </div>

<script type="text/javascript">
$(function(){
  $('#editModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var address = button.data('address') // Extract info from data-* attributes
    var headless = button.data('headless')
    var windows = button.data('windows')
    var modal = $(this)
    console.log(headless)
    modal.find('.modal-body #disabled-address-input').val(address)
    modal.find('.modal-body #address-input').val(address)
    modal.find('.modal-body #headless-input').val(headless)
    modal.find('.modal-body #windows-input').val(windows)
  });
});
</script>
{% endblock %}
